.stamp {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    width: fit-content;
    cursor: move;
    position: absolute;
    top: 0;
    left: 0;
}

.page {
    background: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
}

main {
    display: grid;
    place-items: center;
}